@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@600;800&family=Outfit:wght@500;700&family=Work+Sans:ital,wght@0,300;0,600;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope';
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
}
.main-container{
    overflow-x: hidden;
}

.header-images{
    overflow-x: hidden;
    z-index: -1;
}

.second-image{
    position: absolute;
    top: 57px;
    left: 115px;
    z-index: -1;
}

.header-texts{
    margin-top: 89px;
    z-index: 1;
}

.header-title{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #293356;
    width: 75%;
    margin: 0px auto 0px auto;
}

.header-text{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: #848EAD;
    width: 46%;
    margin: 8px auto 0px auto;
}

/* White Container */
.white-container{
    width: 88%;
    margin: 64px auto 88px auto;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;
    padding-bottom: 32px;
}

.price-month-desktop{
    display: none;
}

.white-container-title{
    display: flex;
    width: 38%;
    align-items: center;
    padding-top: 34px;
    margin: auto;
    justify-content: center;
}

.titles{
    display: flex;
    width: 100%;
}

.title, .title-text{
    margin: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.71429px;
    text-transform: uppercase;

    color: #848EAD;
}

.line-and-slider{
    width: 280px;
    margin: auto;
}

.white-container-image-and-line{
    position: relative;
    margin: 41px auto 0px auto;
}

.rangechange {
    width: 279px;
    height: 8px;
    background: #ecf0fb;
    border-radius: 5px;
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background:rgba(236, 240, 251, 1);
    height: 0.5rem;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 40px;
    height: 35px;
    z-index: 9999;
    background-color: #10D8C4;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    margin-top: -12px;
    background-image: url(./images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
    
.change-color{
    position: absolute;
    height: 8px;
    top: 10px;
    left: 0px;
    background-color: rgba(164, 243, 235, 1);
    border-radius: 5px;
}

.price-month{
    display: flex;
    width: 58%;
    align-items: center;
    gap: 10px;
    margin: 40px auto 0px auto;
}

.price{
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: right;
    letter-spacing: -0.8px;
    color: #293356;
}

.month{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #848EAD;
}

.monthly-yearly-billing{
    width: 84%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 35px auto 0px auto;
}

.monthly-billing, .yearly-billing{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #848EAD;
}

.toggle{
    cursor: pointer;
    
}

.toggle__input{
    display: none;
}

.toggle__bar{
    width: 43px;
    height: 22px;
    background-color: rgba(207, 216, 239, 1);
    border-radius: 15px;
    padding: 4px;
    /* transition: 2s linear; */
}

.toggle__bar:hover{
    background-color:rgba(122, 234, 223, 1);
}

.toggle__spin{
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: 1s all;
}

.toggle__input:checked + .toggle__bar .toggle__spin{
    transform: translateX(20px);
}

.discount-percent{
    width: 41px;
    height: 20px;
    padding: 2px 8px 3px 7px;

    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 14px;
    text-align: center;

    background: #FEEDE8;
    border-radius: 9.5px;
    color: #FF8D68;
}
.discount{
    display: none;
}

hr{
    height: 1px;
    border: none;
    margin-top: 38px;
    background: #ECF0FB;
}

/* About */

.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 44%;
    margin: 24px auto 0px auto;
}

.flex{
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-check{
    width: 7px;
    height: 7px;
}

.img-text-second, .img-text-third{
    margin-top: 11px;
}

.text{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #848EAD;
}

.button{
    width: 55%;
    margin: 33px auto 0px auto;
}

.start-trial-button{
    background: #293356;
    border-radius: 20.5px;
    padding: 12px 46px;
    border: none;

    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #BECDFF;
}

.start-trial-button:hover{
    cursor: pointer;
}

@media (min-width:1440px){
    .second-image{
        top: 67px;
        left: 647px;
    }
    .header-texts{
        width: 28%;
        margin: 89px auto 0px auto;
    }
    .header-title{
        width: 100%;
        font-size: 28px;
        line-height: 38px;
    }
    .header-text{
        width: 100%;
        margin-top: 12px;
    }
    .white-container{
        width: 38%;
        margin: 92px auto 0px auto;
    }
    .white-container-title{
        width: 81%;
        justify-content: space-between;
    }
    .title, .title-text{
        margin: 0px;
    }
    .price-month{
        display: none;
    }
    .titles{
        width: 32%;
    }
    .price-month-desktop{
        display: flex;
        align-items: center;
        width: 51%;
        gap: 8px;
    }
    .price-desktop{
        font-weight: 800;
        font-size: 40px;
        line-height: 55px;
        text-align: right;
        letter-spacing: -1px;
        color: #293356;
    }
    .month-desktop{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #848EAD;
    }
    .line-and-slider{
        width: 444px;
    }
    .monthly-yearly-billing{
        width: 60%;
        margin-left: 154px;
        margin-top: 54px;
        gap: 16px;
    }
    .discount-percent{
        width: 80px;
        display: flex;
        gap: 2px;
        padding: 2px 3px 7px 6px;
    }
    .discount{
        display: block;
    }
    .footer{
        display: flex;
        margin-top: 32px;
        gap: 110px;
    }
    .about{
        align-items: flex-start;
        margin-left: 48px;
    }
}